classes/*
test-classes/*
deploy/*
config/*generated.xml
config/test/*generated.xml
libs/*
lib/*
dependency-check-reports/*
reports/*
target/*
uitest.iml
node_modules/*
flowtests/frontE2E/src/testdata.json
flowtests/team-ancillary/src/tests/testdata.json
